.bg-dark{
    text-align: center !important;
    background-color: rgba(3, 8, 39, 0.972) !important;
}
body{
    background-image: url("../../image/background.jpg");
}
.col-md-12{
    color: blanchedalmond;
}
.container{
    height: 200px;
    padding-top: 95px;
}
.btn{
    width: 250px;
}
.btn:hover{
    box-shadow: 0px 18px 8px -10px rgb(77, 73, 73);
}
#comment{
    width: 500px;
    border-radius: 25px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(3, 8, 39, 0.972);
    color: blanchedalmond;
    text-align: center;
    border-top: solid rgba(22, 39, 149, 0.972) 5px;
    font-family: Arial, Helvetica, sans-serif;
 }
 p{
    word-wrap: break-word;
 }
 #filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #007bff;
    cursor:pointer;
    width: 9px;
    padding-top: 9px;
    
 }
 .input-group{
    padding-top: 20px;
    width: 509px;
    margin: auto;

   
}
 #filter{
     width: 500px;
     height: 40px;
     border-radius: 10px;
     border:solid 1px #ccc; 
 }








/* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }*/

#aFrameBox{
  border: 1px solid grey;
  margin: 10px;
}

#api1Summary, #api1Highest, #api1Threshold{
  border: 1px solid red;
  margin: 5px;
}