.bg-dark{
    text-align: center !important;
    background-color: rgba(3, 8, 39, 0.972) !important;
}
body{
    background-image: url("../../image/background.jpg");
}
.col-md-4{
    color: blanchedalmond;
}
.nav{
    width: 200px;
}
#about{
    margin-left: 20px;
}
.container{
    height: 200px;
    padding-top: 150px;
}
#comment{
    width: 695px;
    border: none;
    height: auto;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(3, 8, 39, 0.972);
    color: blanchedalmond;
    text-align: center;
    border-top: solid rgba(22, 39, 149, 0.972) 5px;
    font-family: Arial, Helvetica, sans-serif;
 }
 p{
    word-wrap: break-word;
 }
 #filtersubmit {
   
    color: #007bff;
    background-color: rgb(20, 14, 82) !important;
    cursor:pointer;
    width: 80px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
 }
 
 .input-group{
    padding-top: 20px;
    width: 809px;
    margin: auto;

   
}
 #filter{
     width: 700px;
     height: 60px;
     border:solid 1px #ccc;
     border-radius: 15px 0px 0px 15px; 
 }








/* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }*/

#aFrameBox{
    border: 1px solid blue;
    margin: 10px;
}

#apiSummary, #apiDaysCounter, #guardianApiLinks{
  border: 1px solid grey;
  margin: 10px;
}

#guardianApiBlock{
    border: 1px solid red;
  margin: 10px;
}

#newsApiSummary, #newsApiDaysCounter, #newsApiLinks{
    border: 1px solid grey;
    margin: 10px;
  }
  
  #newsApiBlock{
      border: 1px solid red;
    margin: 10px;
  }
